RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://celicaspain.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://celicaspain.es$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clubcelica.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clubcelica.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foro.clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://foro.clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.celicaspain.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.celicaspain.es$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clubcelica.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clubcelica.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foro.clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.foro.clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^https://celicaspain.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://celicaspain.es$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clubcelica.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clubcelica.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foro.clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://foro.clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.celicaspain.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.celicaspain.es$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clubcelica.es$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clubcelica.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clubcelica.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foro.clubcelica.es/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.foro.clubcelica.es$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
